.intro-copy {
  width: 400px;
  height: 600px;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .intro-copy {
    background-image: url("../img/intro-bg@2x.jpg");
  }
} 